@import "tailwindcss";

button {
    cursor: pointer;
}

button[data-variant="icon"] {
    padding: 4px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}